## Ciencia de datos con Python - Preparación para la certificación PCEP de Python Institute-Día 6

### Abrir Ficheros Excel (*.xlsx*)

In [ ]:
# Para conectarnos a un fichero de excel, tenemos que instalar + llamar a una libreria que se llama openpyxl
#!pip3 install openpyxl

In [ ]:
import pandas as pd

ruta = '/Users/andresrojo/Desktop/Python-PCEP/recursos_dia6/VentasGroucery_Meses.xlsx'

# Primero cargar las ventas de Agosto 2014
agosto_2014 = pd.read_excel('/Users/andresrojo/Desktop/Python-PCEP/recursos_dia6/VentasGroucery_Meses.xlsx',
                        sheet_name = "Ventas Agosto 2014")# le indicamos la hoja dentro del excel

agosto_2014 # visualizamos

septiembre_2014 = pd.read_excel('/Users/andresrojo/Desktop/Python-PCEP/recursos_dia6/VentasGroucery_Meses.xlsx',
                        sheet_name= "Ventas Septiembre 2014")# le indicamos la hoja dentro del excel, en este caso septiembre

septiembre_2014 # lo visualizamos y nos aseguramos qeue sea el mes de septiembre

# juntar con 'concat', deben contener el mismo nombre y número de columnas, si no, pueden aparecer valores NULL/NAN

bimensual = pd.concat([agosto_2014,septiembre_2014], ignore_index = True) # reseteamos el indice con True
bimensual.info() # comprobamos que se han concatenado las dios tablas cin el número de entries
# creaamos la columna 'Amount'
bimensual['Amount'] = bimensual['Unit Price']*bimensual['Quantity']# nueva_columna = operacion_columnas
bimensual # visualizamos

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128 entries, 0 to 127
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Order ID      128 non-null    int64
 1   Product       128 non-null    object
 2   Category      128 non-null    object
 3   Unit Price    128 non-null    float64
 4   Quantity      128 non-null    int64
 5   Customer      128 non-null    object
 6   Ship City     128 non-null    object
 7   Ship Country  128 non-null    object
 8   Order Date    128 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(2), object(5)
memory usage: 9.1+ KB

,Order ID,Product,Category,Unit Price,Quantity,Customer,Ship City,Ship Country,Order Date,Amount
0,10248,Singaporean Hokkien Fried Mee,Grains/Cereals,9.8,1,Vins et alcools Chevalier,Reims,France,2014-08-04,9.8
1,10248,Mozzarella di Giovanni,Dairy Products,34.8,5,Vins et alcools Chevalier,Reims,France,2014-08-04,174.0
2,10248,Queso Cabrales,Dairy Products,14.0,12,Vins et alcools Chevalier,Reims,France,2014-08-04,168.0
3,10249,Tofu,Produce,18.6,9,Toms Spezialitäten,Münster,Germany,2014-08-05,167.4
4,10249,Manjimup Dried Apples,Produce,42.4,40,Toms Spezialitäten,Münster,Germany,2014-08-05,1696.0
...,...,...,...,...,...,...,...,...,...,...
123,10294,Camembert Pierrot,Dairy Products,27.2,21,Rattlesnake Canyon Grocery,Albuquerque,USA,2014-09-30,571.2
124,10294,Rhönbräu Klosterbier,Beverages,6.2,6,Rattlesnake Canyon Grocery,Albuquerque,USA,2014-09-30,37.2
125,10294,Ipoh Coffee,Beverages,36.8,15,Rattlesnake Canyon Grocery,Albuquerque,USA,2014-09-30,552.0
126,10294,Alice Mutton,Meat/Poultry,31.2,15,Rattlesnake Canyon Grocery,Albuquerque,USA,2014-09-30,468.0
127,10294,Chai,Beverages,14.4,18,Rattlesnake Canyon Grocery,Albuquerque,USA,2014-09-30,259.2

In [ ]:
# Cómo agregar por categorias y ver la métrica escogida: la suma(total) de Amount por Category
bimensual.groupby(['Category']).Amount.sum() # resumimos una operación en este caso la suma por categoria

# Mediante 'groupby' le puedo indicar por qué dimensiones quiero agregar y la metrica o tipo de resumen
# tipo de resumen, la cantidad de pedidos por categoría y país
bimensual.groupby(['Category','Ship Country']).Amount.count()

print()
# otro caso entre []
bimensual.groupby(['Category','Ship Country'])['Ship City'].count() # si el campo tiene espacio en blanco

Category   Ship Country
Beverages  Austria         2
           Brazil          3
           Finland         1
           France          1
           Germany         6
                          ..
Seafood    Germany         5
           Mexico          4
           Spain           1
           Sweden          2
           Switzerland     1
Name: Ship City, Length: 68, dtype: int64

### PRACTICA 32:
* Partiendo del fichero de excel, 'VentasGroucery_Meses.xlsx', cargaremos tres dataframes con los mess de agosto, septiembre y octubre y los anexionaremos para obtener el dataframe 'trimestre_2014', realizar las transformaciones necesarias para resolver los siguiente enunciados:

  *   Crear una columna 'Amount' = Unit Price * Quantity
  *   Crear la columna 'Enterprise' = "Delta Enterprise"
  *   Crear la columna 'Discount' que contendra el 3,5% de dto(%) sobre el 'Amount', si el 'Country' es FRANCE o GERMANY, y después si no es ni FRANCE ni GERMANY el descuento será del 4,75%
  *   Queremos clonar el dataframe de trimestre para que haya solo las ventas de las 'Category' = Beverages y Seafood
  *   Sobre este dataframe clonado queremos ver la suma de Amount agrupada por 'Ship Country' y 'Ship City'
  *   Sobre este dataframe clonado queremos ver el promedio del precio Unidad agrupado por 'Product'

In [4]:
# importamos librerias

import pandas as pd

In [5]:
# importamos las hojas del documento excel

agosto2014 = pd.read_excel('/Users/andresrojo/Desktop/Python-PCEP/recursos_dia6/VentasGroucery_Meses.xlsx',
                        sheet_name= 'Ventas Agosto 2014')

septiembre2014 = pd.read_excel('/Users/andresrojo/Desktop/Python-PCEP/recursos_dia6/VentasGroucery_Meses.xlsx',
                        sheet_name= 'Ventas Septiembre 2014')

octubre2014 = pd.read_excel('/Users/andresrojo/Desktop/Python-PCEP/recursos_dia6/VentasGroucery_Meses.xlsx',
                        sheet_name= 'Ventas Octubre 2014')
octubre2014.head(5) # lo comprobamos

trimestre2014 = pd.concat([agosto2014, septiembre2014, octubre2014], ignore_index = True)
print(trimestre2014.head(5))
# formamos la columna Amount = Unit Price * Quantity

trimestre2014['Amount'] = trimestre2014['Unit Price'] * trimestre2014['Quantity']
print(trimestre2014.head(3)) # mostramos 3 filas para comprobar que se ha creado la nueva columna Amount

   Order ID                        Product        Category  Unit Price  \
0     10248  Singaporean Hokkien Fried Mee  Grains/Cereals         9.8
1     10248         Mozzarella di Giovanni  Dairy Products        34.8
2     10248                 Queso Cabrales  Dairy Products        14.0
3     10249                           Tofu         Produce        18.6
4     10249          Manjimup Dried Apples         Produce        42.4

   Quantity                   Customer Ship City Ship Country Order Date
0         1  Vins et alcools Chevalier     Reims       France 2014-08-04
1         5  Vins et alcools Chevalier     Reims       France 2014-08-04
2        12  Vins et alcools Chevalier     Reims       France 2014-08-04
3         9         Toms Spezialitäten   Münster      Germany 2014-08-05
4        40         Toms Spezialitäten   Münster      Germany 2014-08-05
   Order ID                        Product        Category  Unit Price  \
0     10248  Singaporean Hokkien Fried Mee  Grains/Cereals         9.8
1     10248         Mozzarella di Giovanni  Dairy Products        34.8
2     10248                 Queso Cabrales  Dairy Products        14.0

   Quantity                   Customer Ship City Ship Country Order Date  \
0         1  Vins et alcools Chevalier     Reims       France 2014-08-04
1         5  Vins et alcools Chevalier     Reims       France 2014-08-04
2        12  Vins et alcools Chevalier     Reims       France 2014-08-04

   Amount
0     9.8
1   174.0
2   168.0

In [ ]:
# Seguimos en otra celda : Crear la columna Enterprise = "Delta Enterprise"

trimestre2014['Enterprise'] = "Delta Enterprise"
trimestre2014.head(3) # mostramos 3 filas para comprobar que se ha creado la nueva columna Enterprise

,Order ID,Product,Category,Unit Price,Quantity,Customer,Ship City,Ship Country,Order Date,Amount,Enterprise
0,10248,Singaporean Hokkien Fried Mee,Grains/Cereals,9.8,1,Vins et alcools Chevalier,Reims,France,2014-08-04,9.8,Delta Enterprise
1,10248,Mozzarella di Giovanni,Dairy Products,34.8,5,Vins et alcools Chevalier,Reims,France,2014-08-04,174.0,Delta Enterprise
2,10248,Queso Cabrales,Dairy Products,14.0,12,Vins et alcools Chevalier,Reims,France,2014-08-04,168.0,Delta Enterprise

In [ ]:
# Ademas de ver las categorias que contiene, con 'value_counts()' contamos las unidades de las distintas categorias
trimestre2014['Category'].value_counts()

Category
Beverages         39
Dairy Products    35
Confections       30
Seafood           26
Condiments        19
Meat/Poultry      15
Grains/Cereals    11
Produce           10
Name: count, dtype: int64

In [ ]:
# Crear la columna 'Discount' que contendra el 3,5% de Dto sobre el 'Amount' Si el 'Country' es FRANCE o GERMANY, 
# y despues si no es ni FRANCE ni GERMANY el descuento será del 4,75%

# La función que me hace el descuento en función a France o Germany
def dto(country):
    if (country == 'France') or (country == 'Germany'):
        return 0.035 # equivale a 3.5%
    else:
        return 0.0475 # equivale a 4,75%

# Creamos la columna 'Discount'
trimestre2014['Discount'] = round(trimestre2014['Ship Country'].apply(dto)* trimestre2014['Amount'],3) # que nos muestre 3 decimales
trimestre2014['Discount']

0        0.343
1        6.090
2        5.880
3        5.859
4       59.360
        ...
180      7.448
181     17.100
182      3.658
183    131.005
184     13.680
Name: Discount, Length: 185, dtype: float64

In [9]:
# Queremos clonar el dataframe de trimestre para que haya solo las ventas de las Category = Beverages y Seafood
# generamos el filtro
beve_seafood = trimestre2014[(trimestre2014['Category'] == 'Beverages') | (trimestre2014['Category'] == 'Seafood')]
beve_seafood.head(5) # vemos los 5 primeros campos

,Order ID,Product,Category,Unit Price,Quantity,Customer,Ship City,Ship Country,Order Date,Amount,Enterprise,Discount
6,10250,Jack's New England Clam Chowder,Seafood,7.7,10,Hanari Carnes,Rio de Janeiro,Brazil,2014-08-08,77.0,Delta Enterprise,3.658
15,10253,Chartreuse verte,Beverages,14.4,42,Hanari Carnes,Rio de Janeiro,Brazil,2014-08-10,604.8,Delta Enterprise,28.728
19,10254,Guaraná Fantástica,Beverages,3.6,15,Chop-suey Chinese,Bern,Switzerland,2014-08-11,54.0,Delta Enterprise,2.565
21,10255,Chang,Beverages,15.2,20,Richter Supermarkt,Genève,Switzerland,2014-08-12,304.0,Delta Enterprise,14.440
23,10255,Inlagd Sill,Seafood,15.2,25,Richter Supermarkt,Genève,Switzerland,2014-08-12,380.0,Delta Enterprise,18.050

In [10]:
# Sobre este dataframe clonado queremos ver la suma de Amount agrupada por 'Ship Country' y 'Ship City'
beve_seafood.groupby(['Ship Country','Ship City']).Amount.sum()

Ship Country  Ship City
Austria       Graz               2102.8
Belgium       Charleroi           441.6
Brazil        Rio de Janeiro     1673.8
Finland       Oulu               1376.0
France        Strasbourg         1104.0
Germany       Cunewalde          4810.8
              Frankfurt a.M.       56.0
              Köln                375.2
              München             951.0
              Stuttgart          1092.2
Ireland       Cork               1952.0
Italy         Bergamo              43.2
Mexico        México D.F.        1174.0
Spain         Madrid              410.4
              Sevilla             588.0
Sweden        Bräcke              724.5
              Luleå               529.2
Switzerland   Bern                 54.0
              Genève              684.0
UK            Cowes               516.8
USA           Albuquerque        1243.4
              Anchorage          1682.0
              Portland            288.0
Venezuela     San Cristóbal        86.4
Name: Amount, dtype: float64

In [11]:
# Sobre este dataframe clonado queremos ver el promedio del Precio Unidad agrupado por 'Product'
beve_seafood.groupby(['Product'])['Unit Price'].mean()

Product
Boston Crab Meat                   14.7
Carnarvon Tigers                   50.0
Chai                               14.4
Chang                              15.2
Chartreuse verte                   14.4
Escargots de Bourgogne             10.6
Gravad lax                         20.8
Guaraná Fantástica                  3.6
Ikura                              24.8
Inlagd Sill                        15.2
Ipoh Coffee                        36.8
Jack's New England Clam Chowder     7.7
Konbu                               4.8
Lakkalikööri                       14.4
Laughing Lumberjack Lager          11.2
Nord-Ost Matjeshering              20.7
Outback Lager                      12.0
Rhönbräu Klosterbier                6.2
Röd Kaviar                         12.0
Sasquatch Ale                      11.2
Spegesild                           9.6
Steeleye Stout                     14.4
Name: Unit Price, dtype: float64

### OBJETO iloc( INTEGER LOCATION):
* Me permite acceder a filas/columnas de un dataframe usando los indices numéricos 'iloc[fila,columna]' , 
la primera fila es indice = 0 y la primera columna es indice = 0

In [12]:
# nos muestra los que se encuentra en esa "casilla" del dataframe
print(trimestre2014.iloc[0,1])

Singaporean Hokkien Fried Mee

In [13]:
# [20:30] significa del indice 20 al 29 , si ddespués de la coma no le pongo nada o vacio, significa todas las columnas
trimestre2014.iloc[20:30,]

,Order ID,Product,Category,Unit Price,Quantity,Customer,Ship City,Ship Country,Order Date,Amount,Enterprise,Discount
20,10255,Raclette Courdavault,Dairy Products,44.0,30,Richter Supermarkt,Genève,Switzerland,2014-08-12,1320.0,Delta Enterprise,62.700
21,10255,Chang,Beverages,15.2,20,Richter Supermarkt,Genève,Switzerland,2014-08-12,304.0,Delta Enterprise,14.440
22,10255,Pavlova,Confections,13.9,35,Richter Supermarkt,Genève,Switzerland,2014-08-12,486.5,Delta Enterprise,23.109
23,10255,Inlagd Sill,Seafood,15.2,25,Richter Supermarkt,Genève,Switzerland,2014-08-12,380.0,Delta Enterprise,18.050
24,10256,Perth Pasties,Meat/Poultry,26.2,15,Wellington Importadora,Resende,Brazil,2014-08-15,393.0,Delta Enterprise,18.668
25,10256,Original Frankfurter grüne Soße,Condiments,10.4,12,Wellington Importadora,Resende,Brazil,2014-08-15,124.8,Delta Enterprise,5.928
26,10257,Schoggi Schokolade,Confections,35.1,25,HILARIÓN-Abastos,San Cristóbal,Venezuela,2014-08-16,877.5,Delta Enterprise,41.681
27,10257,Chartreuse verte,Beverages,14.4,6,HILARIÓN-Abastos,San Cristóbal,Venezuela,2014-08-16,86.4,Delta Enterprise,4.104
28,10257,Original Frankfurter grüne Soße,Condiments,10.4,15,HILARIÓN-Abastos,San Cristóbal,Venezuela,2014-08-16,156.0,Delta Enterprise,7.410
29,10258,Chang,Beverages,15.2,50,Ernst Handel,Graz,Austria,2014-08-17,760.0,Delta Enterprise,36.100

In [ ]:
# Muestras las columnas de la 0 a la 3 en orden
trimestre2014.iloc[20:30,0:3]

# Esto ya me da la pista que con iloc, puedo clonar un dataframe para ver solo algunas
# columnas en el orden que me interese y también el nñumero de filas
trimestre2014.iloc[20:30,[2,0,1]]

          Category  Order ID                          Product
20  Dairy Products     10255             Raclette Courdavault
21       Beverages     10255                            Chang
22     Confections     10255                          Pavlova
23         Seafood     10255                      Inlagd Sill
24    Meat/Poultry     10256                    Perth Pasties
25      Condiments     10256  Original Frankfurter grüne Soße
26     Confections     10257               Schoggi Schokolade
27       Beverages     10257                 Chartreuse verte
28      Condiments     10257  Original Frankfurter grüne Soße
29       Beverages     10258                            Chang

In [ ]:
# Nomenclatura para ver las columnas con todas las filas, en vez de blanco ponemos los dos puntos
trimestre2014.iloc[ :,[4,2,5]]# la coma es importante para separar [filas,columnas]

# si ponemos un indice que no vale, dará un error, pues no existe ese indice

     Quantity        Category                    Customer
0           1  Grains/Cereals   Vins et alcools Chevalier
1           5  Dairy Products   Vins et alcools Chevalier
2          12  Dairy Products   Vins et alcools Chevalier
3           9         Produce          Toms Spezialitäten
4          40         Produce          Toms Spezialitäten
..        ...             ...                         ...
180        14       Beverages              Island Trading
181        30       Beverages              Island Trading
182        10         Seafood  Rattlesnake Canyon Grocery
183        70     Confections  Rattlesnake Canyon Grocery
184        20       Beverages    Lonesome Pine Restaurant

[185 rows x 3 columns]

Para el proximo día, lo primero es aprender un dataframe con iloc tanto de lectura como de escritura

In [ ]:
# Igualando la posición y dándole un valor se cambia el valor de la posición, dado por iloc[,]
trimestre2014.iloc[0,0] = 458  # valor original 10248
#veremos como guardar un datafrmae y despues trabajar con SQL
trimestre2014.head(5)

,Order ID,Product,Category,Unit Price,Quantity,Customer,Ship City,Ship Country,Order Date,Amount,Enterprise,Discount
0,458,Singaporean Hokkien Fried Mee,Grains/Cereals,9.8,1,Vins et alcools Chevalier,Reims,France,2014-08-04,9.8,Delta Enterprise,0.343
1,10248,Mozzarella di Giovanni,Dairy Products,34.8,5,Vins et alcools Chevalier,Reims,France,2014-08-04,174.0,Delta Enterprise,6.090
2,10248,Queso Cabrales,Dairy Products,14.0,12,Vins et alcools Chevalier,Reims,France,2014-08-04,168.0,Delta Enterprise,5.880
3,10249,Tofu,Produce,18.6,9,Toms Spezialitäten,Münster,Germany,2014-08-05,167.4,Delta Enterprise,5.859
4,10249,Manjimup Dried Apples,Produce,42.4,40,Toms Spezialitäten,Münster,Germany,2014-08-05,1696.0,Delta Enterprise,59.360